/* Estilo generales */
body {
    margin: 0;
    overflow: hidden; 
    font-family: Courier, monospace;
}

/* Estilo de la card */
.message-card {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    cursor: default;
    font-family: Calibri, Candara, Arial, sans-serif;
}

.message-card.hidden {
    display: none;
}

.message-card-content {
    background: #1e1e1e;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0,0,0,0.8);
    max-width: 400px;
    text-align: right;
}

#message-card-text {
    text-align: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #eee;
}

#message-card-text p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.second-p {
    margin-top: 1rem !important;
}

#message-card-text h2 {
    font-family: Courier, monospace;
    text-align: center;
}

#message-card-text ul {
    list-style-type: none;
    padding-inline-start: 1.5rem;
}

#message-card-text li {
    margin-bottom: 0.8rem;
}

#message-card-close {
    display: inline-block;
    border: none;
    color: #fff;
    font-size: 2.2rem;
    border-radius: 0.5rem;
    animation: beat 1.2s ease-out infinite;
    position: fixed;
}

/* Animaciones */
@keyframes beat {
    0% { transform: scale(1); }
    50% { transform: scale(1.3); }
    100% { transform: scale(1); }
}